<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style_accueil.css" />
    <meta charset="utf-8" />
    <title>Les contes de Pahandre</title>
</head>

<body>
    <header>
        <h1 id="titre principal">Bienvenue dans Pahandre !</h1>
        <h2 id="sous-titre principal">Univers d'un autre temps en un autre lieu</h2>
    </header>

    <section>
        <h1>Informations Générales</h1>

        <h2>Pahandre, mais qu'est-ce que c'est ?</h2>

        <p>Pahandre est un univers de fiction de type heroic fantasy, dans le genre du <mark>Seigneur des anneaux</mark> ou de <mark>Eragon</mark> (respectivement créés par <em>J.R.R Tolkien</em> et <em>C. Paolini</em>)<br />
            Finalement l'univers est assez vieux tout en restant très jeune. Je m'explique : le nom de Pahandre s'est décidé depuis quelques années déjà, un peu plus de 5 je crois.
            Pourtant la création et la génèse de cet univers remonte à beaucoup plus longtemps. J'avais beaucoup écrit lors de mes années au collège, bien que l'état actuel des personnages et du monde n'a plus rien à voir.
            J'ai même retrouvé des lignes que j'ai écrites à <strong>8 ans !</strong></p>

        <p>Le nom de Pahandre correspond à celui du continent principal dans lequel se déroule l'histoire que je veux raconter. Par extension il désigne aussi le monde dans son ensemble.</p>

            <aside>
                <h1>Quelques mots sur le créateur</h1>
                <p>
                    Le créateur de cet univers, eh bien c'est moi-même ! Oui ça fait très prétentieux comme ça mais ce n'était pas l'objectif. 
                    Créer un premier site sur Pahandre me paraissait logique et surtout très pratique. 
                    On y retrouvera toutes les informations nécessaires au même endroit, que je pourrai tenir à jour facilement.
                    Je suis très fier de ce que j'ai réussi à mettre en forme après toutes ces années de réflexion.
                    Ce n'est pas encore complètement terminé, il y a tant d'autres choses que je n'ai pas déterminé, mais le principal me plaît beaucoup, c'est pourquoi j'en profite pour le montrer.
                </p>
            </aside>

        <h1>A propos du monde</h1>
        <p>
            Pahandre le continent se divise en 6 pays, 8 si on déborde un peu des frontières. Il existe aussi un autre continent au Sud, qui a eu et aura son mot à dire.<br />
            Ce monde présente certaines caractéristiques très spéciales, surtout de notre point de vue de terriens. Notamment en termes de magie ou équivalent.<br />
            Tout monde évolue en fonction des personnages particuliers ou héros qui le traversent, le mien est centré sur eux. C'est sans doute de ces personnalités dont je suis le plus fier.<br />
            <a href="cartes/pahandre_general.png"><img src="cartes/pahandre_general_petit.png" alt="Carte du monde" /></a>
        </p>
    </section>

    <footer>
        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="caracteristiques.html">Caractéristiques du monde</a></li>
                <li><a href="geographie.html">Géographie</a></li>
                <li><a href="civilisation.html">Civilisation</a></li>
                <li><a href="personnages.html">Les Personnages</a></li>
                <li><a href="courants.html">Les Courants</a></li>
            </ul>
        </nav>
        <div>
            <h1>Derniers ajouts</h1>
            <p>Les dernières idées qui m'ont traversé l'esprit.</p>
        </div>
    </footer>
</body>
</html>
