<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Civilisation</title>
    </head>

    <body>
        <header>
            <h1>Qu'est-ce qu'un univers ou un pays sans ses cultures ?</h1>
            <p>Voilà quelques informations sur des points généraux, concernant l'histoire ou les pratiques de certains pays ou du continent dans son entier.</p>
        </header>

        <section>
            <h2>Les principaux conflits de Pahandre</h2>
            <h3>Le mythe de l'affrontement des mondes</h3>
            <p>Légende selon laquelle des êtres de mondes extérieurs auraient foulé cette terre et se seraient battus avant de repartir vers leur origine.</p>

            <h3>La chute du Royaume de l'Est</h3>
            <p>Le plus grand adversaire de Morthuin, brisé par une guerre civile quand les deux fils du dernier grand roi se sont disputés le pouvoir. La <a href="geographie.html#Zone Franche">Zone Franche</a> a été créée à la suite de ces evénements.</p>

            <h3>La constitution de l'Ordre des Voyageurs</h3>
            <p>Comment deux aventuriers emplis de curiosité ont donné naissance à la plus puissante communauté de Pahandre.</p>
        </section>

        <section>
            <h2 id="Nuit">La Nuit</h2>
            <p>En tant que phénomène se produisant rarement, et durant longtemps, la nuit est un evénement central dans toutes les cultures. Toutes la vivent différement, allant de la peur à la personnalisation dans une croyance.</p>
        </section>
        <section>
            <h2>Pratiques et coutumes</h2>

            <h3>Les écoles de combat</h3>
            <p>La plupart des pays de Pahandre ont un passé militaire important, en particulier l'Empire <a href="geographie.html#Morthuin">Morthuin</a>. C'est dans celui-ci que des techniques ont été élaborées, d'abord pour la pratique du duel, puis étendu à de la campagne.
               Il existe trois écoles de combat de nos jours, qui se neutralisent les unes les autres, en principe.</p>
                <ul>
                    <li a href="véloce">La Véloce</li>
                    <li a href="patiente">La Patiente</li>
                    <li a href="brutale">La Brutale</li>
                </ul>

            <h3>Les religions</h3>

        </section>

        <section>
            <h2>Organisations</h2>

        <h3 id="Marginale">La Marginale</h3>

        </section>
        <footer>
            <h2>Commentaires</h2>

            <nav>
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="caracteristiques.html">Caractéristiques du monde</a></li>
                    <li><a href="geographie.html">Géographie</a></li>
                    <li><a href="civilisation.html">Civilisation</a></li>
                    <li><a href="personnages.html">Les Personnages</a></li>
                    <li><a href="courants.html">Les Courants</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>