<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Les Courants</title>
    </head>
    <body>
        <header>
            <h1>Les énergies de Pahandre</h1>
            <p>Comme tout autre monde de fantaisie, Pahandre ne fait pas exception en contenant une forme d'énergie qui correspond à ce qu'on appellera de la magie. 
            En tout cas cette énergie permet des choses que nous qualiferions de magiques.</p>
        </header>

        <section>
            <h2 id="aura">L'aura</h2>
            <p>
               La première énergie dont on parle est cette aura. Fondamentalement une énergie présente dans chaque être vivant, animaux et plantes compris, elle reste à un état dormant. 
               Certains savent y faire appel afin d'accomplir des actions extraordinaires.
               Certaines cultures ont pensé un lien entre la voix et l'aura, ou même d'autres qualités. En somme l'aura semble entrer en résonnance avec des caractéristiques des choses ou êtres qui les utilisent.
               L'aura reste dangereuse, d'abord par ce qu'elle permet, mais aussi en elle-même. Tout utilisateur de cette énergie s'est aperçu, en le ressentant, que de prendre une part de cette énergie est un acte irréversible.
               L'énergie utilisée est perdue et il ne s'est vu aucune façon de la retrouver. Quelqu'un sachant utiliser l'aura pourra donc accomplir de grandes choses mais cela l'affaiblira sur le long terme.
               En cela l'aura revêt une dimension morale, que la plupart des gens s'accordent à considérer.
            </p>
        </section>

        <section>
           <h2 id="courants">Les courants</h2>
            <p>
                Les courants sont des flux d'énergie traversant la planète. On pourrait les considérer à des courants de vent, plus ou moins forts selon les jours.
                La majorité des populations n'ont pas découvert leur existence, puisqu'il s'agit d'une énergie que des yeux humains ne peuvent pas voir.
                Ce que permet l'aura en vérité, c'est de se connecter à ces courants pour en puiser la force.
                Chaque courant a ses propriétés et a été associé à une dimension du monde. Chacun permet donc d'agir sur une de ces dimensions.
                La plupart des courants vont par deux, comme des principes opposés. La seule distinction est pour les courants de la matière qui se comptent par trois.
            </p>
            <ul>
                <li>Blanc</li>
                <li>Noir</li>
                <li>Aurore</li>
                <li>Incarnadin</li>
                <li>Pourpre</li>
                <li>Azur</li>
                <li>Smaragdin</li>
                <li>Mordoré</li>
                <li>Indigo</li>
            </ul>
        </section>

        <footer>
            <nav>
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="caracteristiques.html">Caractéristiques du monde</a></li>
                    <li><a href="geographie.html">Géographie</a></li>
                    <li><a href="civilisation.html">Civilisation</a></li>
                    <li><a href="personnages.html">Les Personnages</a></li>
                    <li><a href="courants.html">Les Courants</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>