<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Géographie</title>
</head>

<body>
    <header>
        <h1>Les différents pays</h1>

        <nav>
            <ul>
                <li><a href="#Kadema">Kadema</a></li>
                <li><a href="#Morthuin">Morthuin</a></li>
                <li><a href="#Jormill">Jormill</a></li>
                <li><a href="#Harram">Harram</a></li>
                <li><a href="#Zone Franche">Zone Franche</a></li>
                <li><a href="#Mogâra">Mogâra</a></li>
                <li><a href="#Autres pays">Au-delà des frontières</a></li>
                <li><a href="#Lieux spéciaux">Lieux spéciaux</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2 id="Kadema">Kadema</h2>
        <p>
            <a href="cartes/kadema.png"><img src="cartes/kadema_small.png" alt="Carte de Kadema" /></a>
        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Morthuin">Morthuin</h2>
        <p>
            <a href="cartes/morthuin.png"><img src="cartes/morthuin_small.png" alt="Carte de Morthuin"/></a>
        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Jormill">Jormill</h2>   
        <p>
            <a href="cartes/jormill.png"><img src="cartes/jormill_small.png" alt="Carte de Jormill"/></a>
        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Harram">Harram</h2>
        <p>
            <a href="cartes/harram.png"><img src="cartes/harram_small.png" alt="Carte de Harram"/></a>
        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Zone Franche">Zone Franche</h2>
        <p>
           
        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Mogâra">Mogâra</h2>
        <p>

        </p>

        <h3>Ressources du pays</h3>
        <p>

        </p>

        <h3>Politique</h3>
        <p>

        </p>
    </section>

    <section>
        <h2 id="Autres pays">Au-delà des frontières</h2>

        <nav>
            <ul>
                <li><a href="#Toendrag">Toendrag</a></li>
                <li><a href="#Continent Sud">Le continent Sud</a></li>
                <li><a href="#Ville Noire">La Ville Noire</a></li>
            </ul>
        </nav>

        <h2 id="Toendrag">Toendrag</h2>

        <h2 id="Continent Sud">Le continent Sud</h2>
            <p>
                <a href="cartes/continent_sud.png"><img src="cartes/continent_sud_small.png" alt="Carte du continent Sud"/></a>
            </p>

        <h2 id="Ville Noire">La Ville Noire</h2>
    </section>

    <section>
        <h2>Lieux spéciaux</h2>
       
    </section>

    <footer>

        <section>
            <h2>Notes et anecdotes intéressantes</h2>
            <p>
                J'ai dessiné ces cartes-là grâce au site fantastique qu'est <a href="https://inkarnate.com/">Inkarnate</a>. C'est encore loin d'être parfait, je dois encore m'améliorer mais ça donne déjà une idée d'à quoi ça ressemble.
            </p>
        </section>

        <nav>
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="caracteristiques.html">Caractéristiques du monde</a></li>
                <li><a href="geographie.html">Géographie</a></li>
                <li><a href="civilisation.html">Civilisation</a></li>
                <li><a href="personnages.html">Les Personnages</a></li>
                <li><a href="courants.html">Les Courants</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>