<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="utf-8" />
    <title>Les Personnages</title>
    </head>
    <body>
        <header>
            <h1>Un univers est formé avant tout par les êtres qu'il héberge.</h1>
            <p>
            Si parmi ces êtres on en trouve certains qui dépassent le commun, alors l'univers devient tout aussi extraordinaire.<br />
            Pahandre, comme tout monde, fictif ou non, a ses héros, et ses antagonistes. Chacun le faisant se métamorphoser au gré de leurs actions, plus ou moins irréversibles, plus ou moins impactantes.<br />
            Je vais vous présenter les quelques personnes qui ont su se faire une place et se bâtir une renommée dans ce monde qui célèbre encore leurs légendes, ou bien les clos dans un tabou gênant.
            Chacun d'eux avait ses forces mais aussi ses faiblesses. Allez, ne perdons pas plus de temps à discuter.
            </p>

         <nav>
                <ul>
                    <li><a href="#Ara">Ara</a></li>
                    <li><a href="#Ej">Ej Seregi</a></li>
                    <li><a href="#Barn">Barn</a></li>
                    <li><a href="#Keiss">Keiss <em>Lame Chantante</em></a></li>
                    <li><a href="#Elanna">Elanna</a></li>
                    <li><a href="#Eryn">Eryn <em>la Tempête</em></a></li>
                    <li><a href="#Rhaäl">Rhaäl</a></li>
                    <li><a href="#Erhart">Erhart</a></li>
                    <li><a href="#Til'reï">Til'reï'</a></li>
                    <li><a href="#Lahrark">Lahrark <em>5e Préfet</em></a></li>
                    <li><a href="#Azilem">Azilem <em>l'Instigateur</em></a></li>
                </ul>
         </nav>
        </header>

        <section>
            <h1>Nom : phrase représentative</h1>
            <h2>Pays d'origine</h2>

            <p>
                Traits de personnalité
            </p>

            <p>
                Histoire et événements marquants
            </p>
        </section>

        <footer>
            <nav>
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="caracteristiques.html">Caractéristiques du monde</a></li>
                    <li><a href="geographie.html">Géographie</a></li>
                    <li><a href="civilisation.html">Civilisation</a></li>
                    <li><a href="personnages.html">Les Personnages</a></li>
                    <li><a href="courants.html">Les Courants</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>